@(message: String)

@main("Change Address") {<div class="container">
    <div class="row">
        <div id="header" class="col-sm-12 col-lg-12 col-md-12 col-xs-12"><img src="/assets/images/logofido.png"
                                                                              width="140" height="45"/>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div><h1>Change address</h1></div>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div style="padding-top:15px;"><h4>Account Number</h4></div>
            <div><p>566234902</p></div>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div><h3>Current Address:</h3></div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
            <div style="padding:10px;background-color:#e9e9e9; border-bottom:1px solid #D4D4D4;height:70px;width:295px;">
                <b>Address:</b>

                <p>1102 10 LISA St BRAMPTON</p>
            </div>
            <div id="mobileColor">
                <div style="padding:10px;height:70px;width:295px;"><b>Province:</b>

                    <p>ON</p>
                </div>
            </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
            <div style="padding:10px;background-color:#e9e9e9; border-bottom:1px solid #D4D4D4;height:70px;width:295px;">
                <b>City:</b>

                <p>TORONTO</p>
            </div>
            <div id="mobileColor">
                <div style="padding:10px;height:70px;width:295px;"><b>Postal Code:</b>

                    <p>L6T4N4</p>
                </div>
            </div>
        </div>
        <div class="visible-lg col-lg-2">
            <img src="/assets/images/CHANGE_ADDRESS_DOG2.png">
        </div>

    </div>
        <div style="border-top:1px solid #D4D4D4">
        <h3>Moving?</h3>
        <p>If you change your address now, be aware that your latest invoice may be in the process of being sent to your old address. If that's the case, you'll still be responsible for the payment of that invoice.</p>
        <p>If you've already made a future-dated request, be advised that the information won't appear on this page until after the effective date. You can however submit a new request that will cancel the old one.</p>
        </div>
            <div  class="row">
            <div class="col-xs-12 col-sm-6 col-md-4" id="place">
                <div>
                <label for="">Date of address change:</label>
                    </div>
                <div class="input-group" style="float:left;width:80px;">
                        <select class="form-control" >
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                </div>
                <div class="input-group" style="float:left;width:80px; margin-left:10px;" >
                    <select class="form-control" >
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <div class="input-group" style="float:left;width:80px; margin-left:10px;">
                    <select class="form-control">
                        <option>2014</option>
                        <option>2015</option>

                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4" id="place">

                <label for="">Apt/Suite:</label>
                <div class="input-group">
                    <input class="form-control" type="text" id="" ng-model="">
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4" id="place">

                <label for="">Postal code*:</label>
                <div class="input-group">
                    <input class="form-control" type="text" id="" ng-model="">
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4" id="place2">

                <label for="">Street number*:</label>
                <div class="input-group">
                    <input class="form-control" type="text" id="" ng-model="">
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4" id="place2">

                <label for="">City*:</label>
                <div class="input-group">
                    <input class="form-control" type="text" id="" ng-model="">
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4" id="place2">
                <div style="float:left;">
                    <label for="">Contact number 1*:</label>
                    <div class="input-group"  >
                        <input class="form-control" type="text" id="" ng-model="">
                    </div>
                </div>
                <div style="float:left;width:50px; margin-left:10px;">
                    <label for="">Ext.:</label>
                    <div class="input-group" >
                        <input class="form-control" type="text" id="" ng-model="">
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4" id="place">

                <label for="">Street name*:</label>
                <div class="input-group">
                    <input class="form-control" type="text" id="" ng-model="">
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4" id="place">

                <label for="">Province*:</label>
                <div class="input-group" >
                    <select class="form-control" >
                        <option>Alberta</option>
                        <option>Manitoba</option>
                        <option>Ontario</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4" id="place">

                <label for="">Contact number2 (optional):</label>
                <div class="input-group">
                    <input class="form-control" type="text" id="" ng-model="">
                </div>
            </div>
        </div>
    <div style="margin-top:20px;float:left;">
        <a href=""><img src="/assets/images/button-next-en.png"></a>
        <a href=""><img src="/assets/images/button-cancel-en.png"></a>
    </div>
    </div>


</form>


}