@(message: String)

@main("Confirmation") {<div class="container">
    <div class="row">
        <div id="header" class="col-xs-12"><<img src="@routes.Assets.at("images/logofido.png")"
                                                                              width="140" height="45"/>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div><h1>Change of address - Confirmation</h1></div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <h3>Your address has been changed.</h3>
                    <p>Thank you for using fido.ca to update your mailing address.</p>
                </div>
                <div class="visible-lg col-lg-6">
                    <<img src="@routes.Assets.at("images/CHANGE_ADDRESS_DOG2.png")">
                </div>
            </div>

        </div>

    </div>
    <div style="margin:20px 20px;float:left;">
        <a href="@routes.Application.index()"><img src="@routes.Assets.at("images/button-backtomyaccount-en.png")"></a>
        <a href=""><img src="@routes.Assets.at("images/button-print-en.png")"></a>
    </div>

    </div>
        }